form {
  margin: auto;
  max-width: 25%;
}
ul {
  list-style: none;
}

form label {
  display: block;
  text-align: start;
  margin-right: 0;
}

label input[type="text"] {
  display: block;
  margin: 1rem 0 1rem 0;
}
label input[type="submit"] {
  display: block;
  margin: auto;
  margin: 1rem 0 1rem 0;
}

input.invalid {
  background-color: #ffe4e1;
}

.App {
  margin: auto;
  text-align: center;
}
