form {
  margin: auto;
  max-width: 25%;
}
ul {
  list-style: none;
  padding: 0;
}

form label {
  display: block;
  text-align: start;
}

label input[type="text"] {
  display: block;
}
label input[type="submit"] {
  display: block;
  margin: 1.5rem auto 1.5rem auto;
}

input.invalid {
  background-color: #ffe4e1;
}

div > p {
  margin: auto;
}

button {
  margin-top: 1rem;
}

.App {
  text-align: center;
}

.error {
  background-color: #ffe4e1;
}

.task {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  width: 33%;
  margin: auto;
}
