form {
  margin: auto;
  max-width: 25%;
}
ul {
  list-style: none;
  padding: 0;
}

form label {
  display: block;
  text-align: start;
}

label input[type="text"] {
  display: block;
}
label input[type="submit"] {
  display: block;
  margin: 1.5rem auto 1.5rem auto;
}

input.invalid {
  background-color: #ffe4e1;
}

div > p {
  margin: ;
}

.App {
  text-align: center;
}

.error {
  background-color: #ffe4e1;
}
